@media (max-width: 900px) {
    /* HEADER */

    .container {
        margin: 0 25px;
        padding-top: 60px;
    }

    .header__container {
        margin: 0 25px;
        height: 95px;
        padding: 11px 0;
        align-items: flex-start;
    }

    .header__nav {
        width: 100%;
        height: 24px;
        left: 50%;
        top: 60%;
        transform: translate(-50%, -50%);
        border-top: 1px solid #DDDDDD;
        padding-top: 20px;
    }

    .header__list {
        padding: 0;
        justify-content: space-between;
    }

    .header__link {
        padding: 0;
    }

    /* PREWIEV */

    .preview__container {
        margin: 0 25px;
        margin-top: 60px;
    }

    .preview__titile {
        font-size: 50px;
    }

    /* PAPER */

    .paper {
        padding-bottom: 60px;
    }

    .paper__item {
        max-width: 210px;
        flex-direction: column;
    }

    .paper__versions {
        margin-bottom: 40px;
    }

    .paper__main__title {
        font-size: 30px;
    }

    .store__item {
        min-height: 434px;
    }

    /* STORE */

    .store__container {
        margin-bottom: 90px;
    }

    /* SKETCHBOOK */

    .sketchbook__title {
        font-size: 30px;
    }

    .sketchbook__container {
        margin: 0 0 60px 25px;
    }

    /* FOOTER */

    .footer__container {
        margin: 0 25px;
    }
}

@media (max-width: 768px) {
    /* HEADER */

    .header__list {
        gap: 30px;
    }

    .preview__titile {
        font-size: 38px;
    }

    .preview__descr {
        font-size: 16px;
    }

    .btn {
        padding: 18px 60px;
    }

    .preview__main {
        max-width: 287px;
        margin-bottom: 60px;
    }

    .preview__container {
        align-items: flex-end;
    }

    .paper__main {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    /* PAPER */
    .paper__item {
        max-width: 150px;
    }

    .paper__item__img {
        min-width: 150px;
        width: 150px;
    }

    .paper__item__title {
        font-size: 16px;
    }

    .paper__item__descr {
        font-size: 16px;
    }

    .paper__main__title {
        font-size: 24px;
        margin-bottom: 14px;
    }

    .paper__main__descr {
        font-size: 16px;
    }

    .paper__main__text {
        max-width: max-content;
    }

    .logos__container {
        grid-template-rows: 135px 135px;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    }

    /* STORE */

    .store__title {
        font-size: 24px;
    }

    .store__descr {
        font-size: 16px;
    }

    /* SKETCHBOOK */
    .sketchbook__container {
        flex-direction: column-reverse;
    }

    .sketchbook__title {
        font-size: 24px;
    }

    .sketchbook__descr {
        font-size: 16px;
    }

    .store__item {}

    .sketchbook__text {
        max-width: 510px;
    }
}

@media (max-width: 560px) {
    .container {
        margin: 0 15px;
    }

    .logos__item img {
        max-width: 94%;
    }

    .logos__container {
        padding-bottom: 60px;
        height: 80px;
        display: flex;
        overflow-x: auto;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
    }

    .scroll-container::-webkit-scrollbar {
        display: none;
    }

    .logos__item {
        flex: 0 0 auto;
        min-width: 180px;
    }

    .store__item {
        min-height: 390px;
    }

    /* HEADER */

    .header {
        justify-content: center;
    }

    .header__nav {
        display: none;
    }

    .header__icons {
        margin-top: 10px;
        width: 100%;
        align-items: center;
        justify-content: flex-end;
    }

    .header__logo {
        position: relative;
        border-bottom: 1px solid #DDDDDD;
        padding-bottom: 11px;
        text-align: center;
    }

    .paper__list {
        flex-direction: column;
        gap: 20px;
    }

    .paper__item {
        flex-direction: row;
        max-width: 100%;
    }

    .paper__versions {
        margin-bottom: 60px;
    }

    .paper__main__descr {
        line-height: 27.2px;
    }

    .paper__main__title {
        line-height: 24px;
    }

    /* PREWIEV */
    .preview__container {
        margin-top: 50px;
        padding: 0;
    }

    .preview__main {
        margin-bottom: 50px;
    }

    .preview__img {
        display: none;
    }

    .preview__titile {
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 15px;
    }

    .preview__descr {
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 21px;
    }

    .btn {
        font-size: 18px;
        line-height: 21px;
        padding: 14.5px 38px;
    }

    /* STORE */

    .store__container {
        margin-bottom: 60px;
        grid-template-rows: 430px;
    }

    .store__descr {
        margin-bottom: 45px;
        line-height: 27px;
    }

    .store__title {
        margin-bottom: 4px;
        line-height: 28px;
    }

    .sketchbook__title {
        line-height: 24px;
        margin-bottom: 20px;
    }

    .sketchbook__container {
        margin-bottom: 65px;
    }

    .footer__container {
        flex-direction: column;
        padding: 0;
    }

    .footer__logo {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 20px 0;
        border-bottom: 1px solid #DDDDDD;
    }

    .footer__medias {
        padding: 20px 0;
    }
}
