a {
    color: inherit;
    text-decoration: none;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

img {
    max-width: 100%;
    height: auto;
}

.btn {
    padding: 24px 90px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.17;
    color: #7875FE;
    border: 1px solid #7875FE;
    background-color: #FFFFFF;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border 0.3s ease-in-out;
    cursor: pointer;
}

.btn:hover {
    background-color: #7875FE;
    color: #FFFFFF;
}

.btn:focus {
    background-color: #DAD9FB;
    color: #7875FE;
    border: 1px solid #7875FE;
    outline: none;
}

.btn:active {
    background-color: #4946B4;
    color: #FFFFFF;
    border: 1px solid #4946B4;
}

.btn-reset {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
}

.flex {
    display: flex;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.container {
    margin: 0 auto;
    padding: 0;
    padding-top: 90px;
    max-width: 1110px;
}

.header__container {
    margin: 0 auto;
    padding: 28px 0;
    max-width: 1110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    position: relative;
    border-bottom: 1px solid #DDDDDD;
    display: flex;
    justify-content: end;
}

.header__logo {
    position: absolute;
    left: 0;
}

.header__list {
    padding: 18px 0 22px 0;
    gap: 40px;
    display: flex;
}

.header__item {
    font-size: 20px;
    line-height: 1.17;
    color: #4C5866;
}

.header__nav {
    position: absolute;
    left: 34%;
}

.header__icons {
    display: flex;
    gap: 30px;
}

.header__item path {
    transition: stroke 0.2s ease-in-out;
}

.header__link {
    padding: 0 5px;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.header__link:hover {
    color: #7875FE;
}

.header__link:focus {
    background-color: #DAD9FB;
    outline: none;
}

.header__link:active {
    color: #4946B4;
}

.header__item:hover path {
    stroke: #7875FE;
}

.header__item:active path {
    stroke: #4946B4;
}

.preview__container {
    padding: 0;
    margin-top: 60px;
    display: flex;
    align-items: center;
}

.preview__main {
    max-width: 445px;
}

.preview__title {
    margin: 0;
    margin-bottom: 30px;
    font-size: 60px;
    font-weight: 400;
    line-height: 1;
    color: #4C5866;
}

.preview__descr {
    margin: 0;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #85859B;
}

.preview__img {
    margin-left: auto;
    margin-bottom: -4px;
}

.paper {
    background-color: #EBEBEB;
}

.paper__item {
    border-top: 1px solid #C0C0C0;
    padding-top: 20px;
}

.paper__item__img {
    min-width: 160px;
    margin-right: 30px;
}

.paper__list {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.paper__item__text {
    padding-top: 18px;
}

.paper__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.store__title,
.paper__main__title,
.sketchbook__title {
    font-size: 40px;
    line-height: 1;
    font-weight: 400;
    color: #666666;
    margin-bottom: 20px;
}

.logos {
    background-color: #EBEBEB;
}

.logos__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: 135px;
    gap: 30px;
    padding-bottom: 90px;
}

.logos__item {
    position: relative;
    border: 1px solid #C4C4C4;
}

.logos__item img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer__item path,
.store__more {
    transition: fill 0.3s ease-in-out;
}

.footer__item:hover path,
.store__more:focus,
.store__more:active {
    fill: #DAD9FB;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

@supports not (gap: 10px) {
    .header__list,
    .header__icons,
    .paper__list,
    .logos__container {
        gap: 0;
    }
}

@media screen and (min-width: 768px) {
    .store__container,
    .logos__container {
        grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
    }
}
